Repository ccmbioinfo/osmp, pull requests merged in 2022-08, with the labels that each got.

#296 React: Edit About page
  react/src/assets/osmp_1.png
  react/src/assets/osmp_2.png
  react/src/components/Layout.tsx
  react/src/components/Typography.tsx
  react/src/pages/About.tsx
Labels: react

#315 Bug: Fix a bug that prevented certain variants from being annotated with gnomAD
  react/src/utils/tableHelpers.ts
  server/src/resolvers/getVariantsResolver/utils/annotateGnomad.ts
Labels: bug

#316 React: Allow users to fetch additional gene hits beyond the current default of 10
  react/src/apollo/client.ts
  react/src/apollo/hooks/useFetchAutocompleteQuery.ts
  react/src/components/ComboBox.tsx
  react/src/components/GeneSearch.tsx
  react/src/components/SelectableList.tsx
Labels: react

#314 React / API: Add "observed" field for phenotypic features
  react/src/apollo/hooks/useFetchVariantsQuery.ts
  react/src/components/Table/CellViewer.tsx
  react/src/components/Table/PhenotypeViewer.tsx
  react/src/components/Table/Table.tsx
  react/src/types.ts
  server/__tests__/adapters/g4rdAdapter.test.ts
  server/__tests__/adapters/localQueryAdapter.test.ts
  server/__tests__/gql/getVariants.test.ts
  server/src/resolvers/getVariantsResolver/adapters/g4rdAdapter.ts
  server/src/resolvers/getVariantsResolver/adapters/localQueryAdapter.ts
  server/src/typeDefs.ts
  server/src/types.ts
  ssmp-schema.yml
Labels: react, node

#317 Documentation: Add documentation for the staging and production instance
  README.md
  docs/local-dev.md
  docs/production.md
  docs/staging.md
Labels: documentation
