Repository ccmbioinfo/osmp, pull requests merged in 2022-07, with the labels that each got.

#291 Node: add timeit wrapper functions
  server/src/models/GnomadAnnotationModel.ts
  server/src/resolvers/getVariantsResolver/adapters/g4rdAdapter.ts
  server/src/resolvers/getVariantsResolver/getVariantsResolver.ts
  server/src/resolvers/getVariantsResolver/utils/annotateCadd.ts
  server/src/resolvers/getVariantsResolver/utils/annotateGnomad.ts
  server/src/resolvers/getVariantsResolver/utils/fetchCaddAnnotations.ts
  server/src/resolvers/getVariantsResolver/utils/liftOver.ts
  server/src/utils/timeit.ts
Labels: node

#258 Keycloak: script for adding new users based on list of emails
  .env.sample
  admin-scripts/add-users-by-email.sh
  admin-scripts/get-user-id-by-email.sh
  docker-compose.staging.yaml
  docker-compose.yaml
  keycloak/bin/bootstrap-keycloak.sh
Labels: keycloak

#295 Bug: Fix a bug with the column group divider
  react/src/utils/tableHelpers.ts
Labels: bug

#261 Replace the "gnomad_exome_AF" column with the "gnomAD_AF" column
  .github/workflows/node.yml
  docker-compose.staging.yaml
  react/src/components/Table/Table.tsx
  react/src/constants/headers.ts
  server/__tests__/utils/annotateGnomad.test.ts
  server/src/models/GnomadAnnotationModel.ts
  server/src/resolvers/getVariantsResolver/utils/annotateGnomad.ts
  server/src/types.ts
Labels: node
